

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</body>
</html>






<!-- 
<div class="container bg-info">
  <form [formGroup]= "myForm" (submit)=submit(myForm)>
    <div class="row">
      <div class="col-3">
        <label for="Id">Author ID</label>
      </div>
      <div class="col-7">
        <input class="form-control" type="text" name="id" formControlName="id" id="">
      </div>
      </div>
    <div class="row">
      <div class="col-3">
        <label for="Id">Author Name</label>
      </div>
      <div class="col-7">
        <input class="form-control" type="text" name="name" formControlName="name" id="">
      </div>
      </div>
      <div class="row">
        <div  >
          <button class="btn btn-warning" style="margin-left: 500px" type="submit">Submit</button>
        </div>
      </div>
  </form>
  <div class="card">
    <table>
      <tr class="row" *ngFor= "let i of items">
        <td class="col-1">
            {{i.id}}
        </td>
        <td class="col-7">
          {{i.name}}
        </td>
      </tr>
    </table>
  </div>
</div> -->